@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.swiper {
    width: 100%;
    height: 100%;
}



.swiper-slide {
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Sembunyikan tombol secara default */
.swiper-button-next,
.swiper-button-prev {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Tampilkan tombol saat container Swiper dihover */
.swiper:hover .swiper-button-next,
.swiper:hover .swiper-button-prev {
    opacity: 1;
    visibility: visible;
}

/* Gaya dasar untuk tombol Swiper */
.swiper-button-next,
.swiper-button-prev {
    background-color: rgba(0, 0, 0, 0.5); /* Latar belakang semi-transparan */
    color: white; /* Warna ikon */
    width: 40px; /* Lebar tombol */
    height: 40px; /* Tinggi tombol */
    border-radius: 50%; /* Membuat tombol bulat */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease; /* Efek transisi saat hover */
}

/* Efek hover pada tombol */
.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Latar belakang lebih gelap saat hover */
}

/* Gaya untuk ikon di dalam tombol */
.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 20px; /* Ukuran ikon */
    font-weight: bold; /* Ketebalan ikon */
}

/* Posisi tombol next */
.swiper-button-next {
    right: 8px; /* Jarak dari kanan */
}

/* Posisi tombol prev */
.swiper-button-prev {
    left: 8px; /* Jarak dari kiri */
}

/* Efek bayangan pada tombol */
.swiper-button-next,
.swiper-button-prev {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Bayangan untuk memberikan kedalaman */
}

.pembatas {
    margin-bottom: 60px;
}   

.thick-hr {
    border-top: 5px solid rgb(167, 167, 167);
    width: 5%; /* 10% dari lebar kontainer */
    margin: 0; /* Menghilangkan margin */
    border-radius: 5px; /* Membuat sudut rounded */
}